SERVER_HOST="121.196.174.145"
SERVER_USER="root"
SSH_KEY_PATH="$HOME/.ssh/china-seg.pem"
SERVER_WEB_ROOT="/var/www/cn.segxm.com/web"

# local absolute path to the static backup repository
BACKUP_REPO_PATH="/Users/zheng/Project-项目/肆意股份官网/deployed-backup"
